In [105]:
# !pip install numpy
# !pip install pandas

In [106]:
import numpy as np
import pandas as pd

In [107]:
train_data = pd.read_csv('data/train.csv')
test_data = pd.read_csv('data/test.csv')
sub_data = pd.read_csv('data/sample_submission.csv')

In [108]:
train_data.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

In [109]:
print(f'{train_data.isnull().sum()}')

PassengerId       0
HomePlanet      201
CryoSleep       217
Cabin           199
Destination     182
Age             179
VIP             203
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
Name            200
Transported       0
dtype: int64

In [110]:
for i in ['Age', 'RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck']:
    train_data[i].fillna(train_data[i].mean(), inplace=True)
for i in ['HomePlanet', 'CryoSleep', 'Cabin', 'Destination', 'VIP', 'VRDeck']:
    train_data[i].fillna(train_data[i].mode()[0], inplace=True)
print(f'{train_data.isnull().sum()}')

PassengerId       0
HomePlanet        0
CryoSleep         0
Cabin             0
Destination       0
Age               0
VIP               0
RoomService       0
FoodCourt         0
ShoppingMall      0
Spa               0
VRDeck            0
Name            200
Transported       0
dtype: int64

C:\Users\nikse\AppData\Local\Temp\ipykernel_13288\2507754418.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  train_data[i].fillna(train_data[i].mean(), inplace=True)
C:\Users\nikse\AppData\Local\Temp\ipykernel_13288\2507754418.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  train_data[i].fillna(train_data[i].mode()[0], inplace=True)
C:\Users\nikse\AppData\Local\Temp\ipykernel_13288\2507754418.py:4: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  train_data[i].fillna(train_data[i].mode()[0], inplace=True)

In [111]:
for i in ['HomePlanet', 'CryoSleep', 'Cabin', 'Destination', 'VIP']:
    print(f'Unique values: {train_data[i].unique()}')

Unique values: ['Europa' 'Earth' 'Mars']
Unique values: [False  True]
Unique values: ['B/0/P' 'F/0/S' 'A/0/S' ... 'G/1499/S' 'G/1500/S' 'E/608/S']
Unique values: ['TRAPPIST-1e' 'PSO J318.5-22' '55 Cancri e']
Unique values: [False  True]